#pantalla,
html {
	height: 100%;
	padding: 0px;
	margin: 0px;
	background-image: url("../img/cielo.png");
}

#panelizquierdovertical {
	display: inline-block;
	position: fixed;
	left: 0px;
	width: 33%;
	height: 100%;
	background-image: url("../img/marte.png");
	background-repeat: no-repeat;
	background-position: 0% 10%;
	background-size: contain;
}

#panelizquierdo {
	display: none;
}

#nave {
	text-align: center;
	position: fixed;
	width: 100%;
	height: 20%;
	top: 20%;
}

#imgnave {
	display: block;
	margin: auto;
	height: 100%;
}

#imgnaveconllama {
	display: none;
	margin: auto;
	height: 100%;
}

#superficieluna {
	text-align: center;
	height: 15%;
	width: 100%;
	position: fixed;
	bottom: 0px;
}

#luna {
	height: 100%;
	width: 100%;
}

#panelderechovertical {
	display: inline-block;
	width: 33%;
	height: 100%;
	position: fixed;
	right: 0px;
	background-image: url("../img/planeta1.png");
	background-repeat: no-repeat;
	background-position: top right;
	background-size: contain;
}

#panelderecho {
	display: none;
}

.cuadrocontrolizquierda {
	display: inline-block;
	width: 59%;
	height: auto;
	position: relative;
	top: 30%;
	background-color: rgb(8, 8, 8);
	border-style: outset;
	border-color: rgb(145, 145, 145);
}

.cuadrocontrolderecha {
	display: inline-block;
	width: 30%;
	height: auto;
	position: relative;
	top: 30%;
	float: right;
	background-color: rgb(8, 8, 8);
	border-style: outset;
	border-color: rgb(145, 145, 145);
}

.controles {
	width: auto;
	height: auto;
	background-color: rgb(102, 101, 101);
	margin: 10% 6%;
	border-style: outset;
	border-color: rgb(30, 230, 116);
	text-align: center;
	color: rgb(254, 255, 254);
	font-size: 120%;
	padding: 3px;
	margin-bottom: 20px;
}

.controles:active {
	border-style: inset;
}

.controles:hover {
	background-color: rgb(21, 56, 24);
}

.enlace {
	color: rgb(254, 255, 254);
	text-decoration: none;
}

#botonpulsar {
	position: fixed;
	margin: 0 auto;
	left: 0;
	right: 0;
	bottom: 0;
}

#instrucciones {
	position: absolute;
	top: 50%;
	left: 30%;
	color: rgb(85, 199, 85);
}

#instrucciones a {
	text-decoration: none;
}

#acercade {
	position: absolute;
	top: 50%;
	left: 42%;
	color: rgb(85, 199, 85);
}

#acercade a {
	text-decoration: none;
}